<div class="cart-page">
  <div class="cart-page__back-link">
    <a href="javascript:history.back()">
      <i class="fas fa-chevron-left"></i>
      <span>Previous</span>
    </a>
  </div>

  <div class="cart-page__update-error" data-update-error>
    {% comment %}
      Rendered via /cart.js.
    {% endcomment %}
  </div>

  <h1>Your order</h1>

  {% if cart.item_count > 0 %}
    <div class="cart-page__lines">
      {% for item in cart.items %}
        <div class="cart-page__lines__line__info mobile">
          <a href="{{ item.url }}">{{ item.product.title }}</a>
          {% unless item.product.has_only_default_variant %}
            <p>({{ item.variant.title }})</p>
          {% endunless %}
        </div>

        <div
          class="cart-page__lines__line"
          data-line-key="{{ item.key }}"
          data-line-variant-id="{{ item.variant_id}}"
          data-line-sku="{{ item.sku }}"
          data-line-unit-price="{{ item.final_price }}"
          data-line-row
        >

          <div class="cart-page__lines__line__thumb">
            {% if item.image != blank %}
              <a href="{{ item.url | within: collections.all }}">
                {{ item | img_url: '180x180' | img_tag: item.title }}
              </a>
            {% endif %}
          </div>

          <div class="cart-page__lines__line__info desktop">
            <a href="{{ item.url }}">{{ item.product.title }}</a>
            {% unless item.product.has_only_default_variant %}
              <p>({{ item.variant.title }})</p>
            {% endunless %}
          </div>

          <div data-label="{{ 'cart.label.quantity' | t }}" class="cart-page__lines__line__quantity">
            <div class="cart-page__lines__line__quantity__adjust">
              <input
                type="number"
                class="cart-page__lines__line__quantity__adjust__input"
                value="{{ item.quantity }}"
                min="0"
                aria-label="{{ 'cart.general.item_quantity' | t }}"
                data-line-key="{{ item.key }}"
                data-quantity-input
              >
              <div class="cart-page__lines__line__quantity__adjust__icons">
                <div data-quantity-adjust data-type="minus" data-line-key="{{ item.key }}">
                  <i class="fas fa-minus"></i>
                </div>
                <div data-quantity-adjust data-type="plus" data-line-key="{{ item.key }}">
                  <i class="fas fa-plus"></i>
                </div>
              </div>
            </div>

            <button
              type="button"
              class="cart-page__lines__line__quantity__save primary-btn"
              data-line-key="{{ item.key }}"
              data-quantity-save-btn
            >
              Update
            </button>
            <div class="cart-page__lines__line__quantity__saved-icon" data-line-key="{{ item.key }}" data-quantity-saved-icon>
              <i class="far fa-check-circle"></i>
            </div>
          </div>

          <div
            data-label="{{ 'cart.label.total' | t }}"
            class="cart-page__lines__line__total"
          >
            <div
              class="cart-page__lines__line__total__money"
              data-line-key="{{ item.key }}"
              data-line-total-price
            >
              {{ item.line_price | money }}
            </div>
            <div class="cart-page__lines__line__total__delete">
              <i class="far fa-minus-square" data-line-key="{{ item.key }}" data-line-delete-btn></i>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="cart-page__lower">
      {% if settings.cart_notes_enable %}
      <div class="cart-page__lower__note">
        <div class="cart-page__lower__note__heading">
          <span class="cart-page__lower__note__heading__saved" data-note-saved-message>Note saved<i class="fas fa-check"></i></span>
        </div>
        <textarea
          class="cart-page__lower__note__textarea"
          placeholder="Add any special requests or instructions here..."
          data-order-note-textarea
        >{{ cart.note }}</textarea>
      </div>
      {% endif %}
      <div class="cart-page__lower__totals">
        <div class="cart-page__lower__totals__subtotal">
          <div class="cart-page__lower__totals__subtotal__heading">
            Subtotal
          </div>
          <div class="cart-page__lower__totals__subtotal__value" data-subtotal-price>
            {{ cart.total_price | money }}
          </div>
        </div>
        <div class="cart-page__lower__totals__subtotal" data-delivery-price>
          {% comment %}
            Rendered in /cart.js.
          {% endcomment %}
        </div>
        <div class="cart-page__lower__totals__total">
          <div class="cart-page__lower__totals__total__heading">
            Total (Inc VAT and shipping)
          </div>
          <div class="cart-page__lower__totals__total__value" data-total-price>
            {{ cart.total_price | money }}
          </div>
        </div>
        <form action="/cart" method="post" novalidate class="cart-page__checkout-form">
          <button type="submit" name="checkout" class="cart-page__checkout-form__btn" data-checkout-btn>
            <span><i class="fas fa-lock"></i></span>
            <span>{{ 'cart.general.checkout' | t }}</span>
          </button>

        </form>
      </div>
    </div>

  {% else %}
    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  {% endif %}

  <div class="cart-page__trustbox">
    {% include 'trustbox-list-widget' %}
  </div>
</div>
