<div class="cart-page">
  <a href="javascript:history.back()">Previous Page</a>
  <h1>Your order</h1>
  {% if cart.item_count > 0 %}
    <div class="cart-page__lines">
      <table>
        <thead>
          <tr>
            <th>{{ 'cart.label.product' | t }}</th>
            <th>{{ 'cart.label.price' | t }}</th>
            <th>{{ 'cart.label.quantity' | t }}</th>
            <th></th>
            <th>{{ 'cart.label.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr>
              <td data-label="{{ 'customer.order.product' | t }}">
                {% if item.image != blank %}
                  <a href="{{ item.url | within: collections.all }}">
                    {{ item | img_url: '160x160' | img_tag: item.title }}
                  </a>
                {% endif %}
              </td>
              <td>
                <a href="{{ item.url }}">{{ item.product.title }}</a>
                {% unless item.product.has_only_default_variant %}
                  <p>{{ item.variant.title }}</p>
                {% endunless %}
              </td>
              <td data-label="{{ 'cart.label.quantity' | t }}">
                <input
                  type="number"
                  name="line_quantity"
                  id="updates_{{ item.key }}"
                  value="{{ item.quantity }}"
                  min="0"
                  aria-label="{{ 'cart.general.item_quantity' | t }}"
                >
                <div class="">
                  <button type="button" data-cart-line-quantity-update>Update</button>
                </div>
              </td>
              <td>
                <button type="button" data-cart-line-quantity-remove>
                  Delete
                </button>
              </td>
              <td data-label="{{ 'cart.label.total' | t }}">
                {{ item.line_price | money }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="">
      No items added yet!
    </div>
  {% endif %}
</div>

{% comment %}
<table>
  <tbody>
    {% for item in cart.items %}

    <tr>

      <td data-label="{{ 'customer.order.product' | t }}">
        {% if item.image != blank %}
          <a href="{{ item.url | within: collections.all }}">
            {{ item | img_url: '160x160' | img_tag: item.title }}
          </a>
        {% endif %}
      </td>

      <td>
        <a href="{{ item.url }}">{{ item.product.title }}</a>

        {% unless item.product.has_only_default_variant %}
          <p>{{ item.variant.title }}</p>
        {% endunless %}
      </td>


      <td data-label="{{ 'cart.label.price' | t }}">
        {% if item.original_line_price != item.line_price %}
          <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
          {{ item.price | money }}
          <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
          <s>{{ item.original_price | money }}</s>
        {% else %}
          {{ item.price | money }}
        {% endif %}
      </td>

      <td data-label="{{ 'cart.label.quantity' | t }}">
        <input type="number"
               name="line_quantity"
               id="updates_{{ item.key }}"
               value="{{ item.quantity }}"
               min="0"
               aria-label="{{ 'cart.general.item_quantity' | t }}">
        <div class="">
          <button type="button" data-cart-line-quantity-update>Update</button>
        </div>
      </td>

      <td data-label="{{ 'cart.label.total' | t }}">
        {{ item.line_price | money }}
      </td>

    </tr>

    {% endfor %}
  </tbody>
</table>
{% endcomment %}
