<div class="contact-form">
  <h1>{{ page.title }}</h1>

  <div class="contact-form__content rte">
    {{ page.content }}
  </div>

  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="contact-form__success form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    <div class="contact-form errors">
      {{ form.errors | default_errors }}
    </div>

    <div class="contact-form__text-input">
      <label for="ContactFormName" data-form-text-input-label>{{ 'contact.form.name' | t }}</label>
      <i class="far fa-user"></i>
      <input type="text"
        name="contact[name]"
        id="ContactFormName"
        placeholder="{{ 'contact.form.name' | t }}"
        data-form-text-input
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
    </div>

    <div class="contact-form__text-input">
      <label for="ContactFormEmail" data-form-text-input-label>{{ 'contact.form.email' | t }}</label>
      <i class="far fa-envelope"></i>
      <input type="email"
        name="contact[email]"
        id="ContactFormEmail"
        placeholder="{{ 'contact.form.email' | t }}"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        data-form-text-input
        autocapitalize="off">
    </div>

    <div class="contact-form__text-input">
      <label for="ContactFormPhone" data-form-text-input-label>{{ 'contact.form.phone' | t }}</label>
      <i class="fas fa-mobile-alt"></i>
      <input type="tel"
        name="contact[phone]"
        id="ContactFormPhone"
        placeholder="{{ 'contact.form.phone' | t }}"
        value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        data-form-text-input
        pattern="[0-9\-]*">
    </div>



    <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
    <textarea rows="10"
      name="contact[body]"
      id="ContactFormMessage"
      placeholder="{{ 'contact.form.message' | t }}">
      {%- if form.body -%}
        {{- form.body -}}
      {%- endif -%}
    </textarea>

    <input type="submit" class="button" value="{{ 'contact.form.send' | t }}">

  {% endform %}

</div>
