<div class="account">
  {% if customer.first_name != blank %}
    <h1>Hello, {{ customer.first_name }}</h1>
  {% else %}
    <h1>Your {{ 'customer.account.title' | t | downcase }}</h1>
  {% endif %}

  <div class="account__content">
    <div class="account__content__order-history">
      <h2>Your {{ 'customer.orders.title' | t | downcase }}</h2>
      {% paginate customer.orders by 200 %}
        {% if customer.orders.size != 0 %}
          <table class="responsive-table account__content__order-history__orders-table">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class="responsive-table-row">
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endpaginate %}
    </div>

    <div class="account__content__customer-details">
      <h2>Your addresses</h2>

      {{ customer.default_address | format_address }}

      <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
    </div>
  </div>

</div>
