<div class="login-form">
  <h1>{{ 'customer.activate_account.title' | t }}</h1>
  <p>{{ 'customer.activate_account.subtext' | t }}</p>

  {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="login-form__text-input">
      <label for="CustomerPassword" class="label-hidden">
        {{ 'customer.activate_account.password' | t }}
      </label>
      <input type="password"
        name="customer[password]"
        id="CustomerPassword"
        placeholder="{{ 'customer.activate_account.password' | t }}">
    </div>

    <div class="login-form__text-input">
      <label for="CustomerPasswordConfirmation" class="label-hidden">
        {{ 'customer.activate_account.password_confirm' | t }}
      </label>
      <input type="password"
        name="customer[password_confirmation]"
        id="CustomerPasswordConfirmation"
        placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
    </div>

    <input type="submit" class="button primary-btn" value="{{ 'customer.activate_account.submit' | t }}">
    <input type="submit" class="button cancel-btn">
</div>
