<div class="login-form form-reset-password">
  {% form 'reset_customer_password' %}

    <h1>{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    <div class="login-form form-reset-password errors">
      {{ form.errors | default_errors }}
    </div>

    <div class="login-form__text-input">
      <label for="ResetPassword" data-form-text-input-label>
        {{ 'customer.reset_password.password' | t }}
      </label>
      <i class="fas fa-lock"></i>
      <input type="password"
        name="customer[password]"
        id="ResetPassword"
        class="{% if form.errors contains 'password' %}input-error{% endif %}"
        data-form-text-input
        placeholder="{{ 'customer.reset_password.password' | t }}">
    </div>

    <div class="login-form__text-input">
      <label for="PasswordConfirmation" data-form-text-input-label>
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
      <i class="fas fa-lock"></i>
      <input type="password"
        name="customer[password_confirmation]"
        id="PasswordConfirmation"
        class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
        data-form-text-input
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
    </div>

    <input type="submit" class="button primary-btn" value="{{ 'customer.reset_password.submit' | t }}">
  {% endform %}
</div>
