{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header" class="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div>
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <header role="banner">
    <div
      class="header-content"
      data-header-content
    >
      <div class="header-content__left">
        <div class="header-content__left__logo-image">
          <a href="/" class="">
            {% include 'rgp-logo' %}
          </a>
        </div>
        <div class="header-content__left__toggle-menu-btn active" data-open-menu>
          <i class="fas fa-bars"></i>
        </div>
        <div class="header-content__left__toggle-menu-btn" data-close-menu>
          <i class="far fa-times-circle"></i>
        </div>
        <nav role="navigation" class="header-content__left__mobile-nav-content" data-mobile-nav-content>
          {% include 'header-nav-list' %}
          <ul>
            <li data-help-panel-toggle><span>Info</span></li>
            <li data-account-panel-toggle><span>Account</span></li>
          </ul>
        </nav>
        <nav role="navigation" class="header-content__left__main-nav">
          {% include 'header-nav-list' %}
        </nav>
      </div>

      <div class="header-content__right">
        <div class="header-content__right__help">
          <div class="header-content__right__help__toggle" data-help-panel-toggle>
            Info
          </div>
          <div class="header-content__right__help__content" data-help-panel-content>
            <div class="header-content__right__help__content__close" data-help-panel-close>
              <i class="far fa-times-circle"></i>
            </div>
            <div class="header-content__right__help__content__elements">
              <div class="header-content__right__help__content__elements__flex-container">
                {% include 'header-info' %}
              </div>
            </div>
          </div>
        </div>

        {% if shop.customer_accounts_enabled %}
          <div class="header-content__right__account">
            {% if customer %}
            <div class="header-content__right__account__toggle" data-account-panel-toggle>
              {% if customer.first_name != blank %}
                {{ customer.first_name }}
              {% else %}
                My account
              {% endif %}
            </div>
            <div class="header-content__right__account__content" data-account-panel-content>
              <div class="header-content__right__account__content__close" data-account-panel-close>
                <i class="far fa-times-circle"></i>
              </div>
              <div class="header-content__right__account__content__elements">
                <div class="header-content__right__account__content__elements__message">
                  View your orders and personal information.
                </div>
                <div class="header-content__right__account__content__elements__flex-container">
                  <div class="header-content__right__account__content__links">
                    {{ 'layout.customer.log_out' | t | customer_logout_link }}
                  </div>
                  <div class="header-content__right__account__content__links">
                    <a href="/account">My account</a>
                  </div>
                </div>
              </div>
            </div>


            {% else %}
              <div class="header-content__right__account__toggle" data-account-panel-toggle>
                My account
              </div>
              <div class="header-content__right__account__content" data-account-panel-content>
                <div class="header-content__right__account__content__close" data-account-panel-close>
                  <i class="far fa-times-circle"></i>
                </div>
                <div class="header-content__right__account__content__elements">
                  <div class="header-content__right__account__content__elements__message">
                    Create an account or log in to view your orders and personal information.
                  </div>
                  <div class="header-content__right__account__content__elements__flex-container">
                    <div class="header-content__right__account__content__links">
                      {{ 'layout.customer.log_in' | t | customer_login_link }}
                    </div>
                    <div class="header-content__right__account__content__links">
                      {{ 'layout.customer.create_account' | t | customer_register_link }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div class="header-content__right__cart">
          <div class="header-content__right__cart__info" data-cart-mini-toggle>
            <div class="header-content__right__cart__info__icon">
              <i class="fas fa-shopping-basket"></i>
            </div>
            <div class="header-content__right__cart__info__quantity" data-cart-mini-qty>
              {{ cart.item_count }}
            </div>
          </div>
          <div class="header-content__right__cart__sidebar" data-cart-mini-content>
            <div class="header-content__right__cart__sidebar__close" data-cart-mini-close>
              <i class="far fa-times-circle"></i>
            </div>
            {% include 'mini-cart' %}
          </div>
        </div>

      </div>
    </div>

  </header>
</section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
