<section data-section-id="{{ section.id }}" data-section-type="product" class="product">
  {% comment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {% endcomment %}
  {%- assign info_sections = product.description | split: '##section' -%}
  <h1 class="product__heading">{{ product.title }}</h1>

  <div class="product__content">
    <div class="product__content__upper">
      <div class="product__content__upper__gallery" data-product-image-gallery>
      {% comment %}
        Rendered via sections/product.js
      {% endcomment %}
      </div>
      <div class="product__content__upper__info">
        <div class="product__content__upper__info__add-form" data-product-add-form>
          {% comment %}
            Rendered via sections/product.js
          {% endcomment %}
        </div>

        <div class="product__content__upper__info__delivery-info" data-product-shipping-info>
          <i class="fas fa-shipping-fast"></i>
          {% comment %}
            Rendered via sections/product.js and components/shipping_info.js.
          {% endcomment %}
        </div>

        <div class="product__content__upper__info__custom-info">
          <i class="fas fa-clipboard-list"></i>
          {{ info_sections[0] | strip }}
        </div>

        <div class="product__content__upper__info__trustbox-mini">
          <div class="product__content__upper__info__trustbox-mini__trustbox">
            {% include 'trustbox-mini-widget-slim' %}
          </div>
          <div class="product__content__upper__info__trustbox-mini__return-icon">
            <div>
              <i class="fas fa-undo-alt"></i>
            </div>
            <div>
              Stress free returns. Just send it back within 30 days for a full refund.
            </div>
          </div>
        </div>

        <div class="product__content__upper__info__payment-icons">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-amex"></i>
          <i class="fab fa-cc-apple-pay"></i>
          <i class="fab fa-cc-stripe"></i>
          <i class="fab fa-cc-paypal"></i>
        </div>

      </div>
    </div>
    <div class="product__content__lower">
      <div class="product__content__lower__bullet-points">
        {{ info_sections[1] | strip }}
      </div>
      <div class="product__content__lower__description">
        {{ info_sections[2] | strip }}
      </div>
    </div>

  </div>
</section>

<!-- For assing json object of the product into product.js -->
<script type="application/json" data-product-json>
  {{ product | json }}
</script>
