<section data-section-id="{{ section.id }}" data-section-type="product" class="product-single">

  {%- assign current_variant = product.selected_or_first_available_variant -%}

  <div class="product-single__upper">
    <div class="product-single__images hide" data-images-elem>
      {% if product.images.size > 1 %}
        <div class="product-single__images__gallery"
          data-gallery
          data-current-variant="{{  current_variant.title }}"
        >

          {% for image in product.images %}
            <div
              class="product-single__images__gallery__item"
              data-product-gallery-item
              data-image-alt="{{ image.alt }}"
            >
              <img
                class="product-single__images__gallery__item__image"
                src="{{ image.src | img_url: '800x800' }}"
                alt="{{ image.alt | escape }}"
              >
            </div>
          {% endfor %}

        </div>
        <div class="product-single__images__gallery__nav__wrapper">
          <div
            class="product-single__images__gallery__nav"
            data-nav
          >

            {% for image in product.images %}
              <div
                class="product-single__images__gallery__nav__item"
                data-product-gallery-nav-item
                data-image-alt="{{ image.alt }}"
              >
                <img
                  class="product-single__images__gallery__nav__item__image"
                  src="{{ image.src | img_url: '100x100' }}" alt="{{ image.alt | escape }}"
                >
              </div>
            {% endfor %}

          </div>
        </div>
      {% endif %}
    </div>

    <div class="product-single__info">
      <h1>{{ product.title }}</h1>

      {% if product.tags.size > 1 %}
        <div class="product-single__info__tags">
          {% for tag in product.tags %}
            <div class="product-single__info__tags__tag">
              {{ tag }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="product-single__info__add-form">
        {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="js">
                {% for value in option.values %}
                  <input
                    type="radio" id="Option{{ option.position }}-{{ value }}"
                    name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}
                  >
                  <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                {% endfor %}
              </div>
            {% endfor %}
          {% endunless %}

          <noscript>
            <select name="id">
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          </noscript>

          <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1">

          <div data-price-wrapper>
            <span class="product-single__info__price" data-product-price>
              {{ current_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </s>
            {% endif %}
          </div>

          <button
            type="submit"
            class="product-single__info__submit"
            name="add"
            data-submit-button
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-submit-button-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>
        {% endform %}
      </div>

      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}
    </div>
  </div>

  <div class="product-single__lower">
    {{ product.description }}
    {{ current_variant.title }}
  </div>

</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
